.donut-container {
  width: 150px;
  height: 150px;
  float: top;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
  margin-right: 20px;
}

.donut-inner {
  width: 134px;
  height: 134px;
  position: relative;
  top: 8px;
  left: 8px;
  background: #c8e6c9;
  -webkit-border-radius: 65px;
  -moz-border-radius: 65px;
  border-radius: 65px;
}

.donut-label {
  line-height: 130px;
  text-align: center;
  font-size: 20px;
}
