.semester {
  padding-left: 20px;
  padding-right: 20px;
  background: #FFF;
}

.semester .row {
  margin-bottom: 0;
}

.card-content.white-text.classbox {
  padding: 10px;
}

.card-content.white-text.classbox p {
  padding: 0;
}

.semester2 .btn {
  margin: 10px;
}

.semester .card-title {
  font-size: 15px;
  line-height: 15px;
}

.classbox2 {
  margin-left: 5px;
  margin-right: 5px;
}

.course-mover {
  padding-left: 60px;
}