<template name="Mainpage">
  <div class="container">

    <div class="card blue-text">
      <div class="row">
        <h3 class="center col s4">12<br>Online Users</h3>

        <h3 class="center col s4">Speaking<br>3 Languages</h3>

        <h3 class="center col s4">456<br>Total Users</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <a href="learn.html">
          <div class="card">
            <h1 class="center"><i class="large material-icons">g_translate</i></h1>
          </div>
        </a>
      </div>
      <div class="col s6">
        <a href="login.html">
          <div class="card">
            <h1 class="center"><i class="large material-icons">question_answer</i></h1>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <a href="contact.html">
          <div class="card">
            <h4 class="center"><i class="medium material-icons">report_problem</i></h4>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="about.html">
          <div class="card">
            <h4 class="center"><i class="medium material-icons">info</i></h4>
          </div>
        </a>
      </div>
      <div class="col s3">

        <a href="donate.html">
          <div class="card">
            <h4 class="center"><i class="medium material-icons">attach_money</i></h4>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="exit.html">
          <div class="card">
            <h4 class="center"><i class="medium material-icons">clear</i></h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>