<template name="Learn">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <div class="row">
    <div class="col s11 m11 l11">
      <div class="row">
        {{> Banner}}
      </div>
      <div class="row">
        <div class="card">
          <input id="translate" type="textArea" value=""/><input type="submit" value="translate" class="btn submit"/>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <input id="translated" type="textArea" value=""/>
        </div>
      </div>
      <div class="col s12">
        <ul class="tabs">
          {{#each userLanguages}}
          <li class="tab"><a href="#en">To {{language}}</a></li>
          {{/each}}

          <li class="tab"><a href="#sp">To Spanish</a></li>
          <li class="tab"><a href="#jp">To Japanese</a></li>
          <li class="tab"><a href="#l4">To Language 4</a></li>

        </ul>

        <div id="en" class="col s12">

          <div class="card z-depth-0">
            <div class="card-content">
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="textarea1" class="materialize-textarea"></textarea>
                      <label for="textarea1">Textarea</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="btn right blue activator"><i class="large material-icons">translate</i></div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Translated Text<i
              class="material-icons right">close</i></span>

              <p>Traslated text translated text translated text translated text translated text translated text
                translated
                text translated text translated text translated text translated text translated text translated text</p>
            </div>
          </div>
        </div>
        <div id="sp" class="col s12">

          <div class="card z-depth-0">
            <div class="card-content">
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="textarea2" class="materialize-textarea"></textarea>
                      <label for="textarea2">Textarea</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="btn right activator"><i class="large material-icons">translate</i></div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Translated Text<i
              class="material-icons right">close</i></span>

              <p>Texto traducido Texto traducido Texto traducido Texto traducido Texto traducido Texto traducido</p>
            </div>
          </div>
        </div>

        <div id="jp" class="col s12">

          <div class="card z-depth-0">
            <div class="card-content">
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="textarea3" class="materialize-textarea"></textarea>
                      <label for="textarea3">Textarea</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="btn right activator"><i class="large material-icons">translate</i></div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Translated Text<i
              class="material-icons right">close</i></span>

              <p>translated japanese</p>
            </div>
          </div>
        </div>

        <div id="l4" class="col s12">

          <div class="card z-depth-0">
            <div class="card-content">
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="textarea4" class="materialize-textarea"></textarea>
                      <label for="textarea4">Textarea</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="btn right activator"><i class="large material-icons">translate</i></div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Translated Text<i
              class="material-icons right">close</i></span>

              <p>Traslated text translated text translated text translated text translated text translated text
                translated
                text translated text translated text translated text translated text translated text translated text</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s1 m1 l1">
      <a href="{{ pathFor 'Messenger' }}" class="talk">
        <div class="side-bar card">
          <div style="height: 100%;"><i class="material-icons">question_answer</i></div>
        </div>
      </a>
    </div>
  </div>
  <script>

    $(document).ready(function () {
      $('ul.tabs').tabs();
      /* function stolen from W3Schools http://www.w3schools.com/js/js_cookies.asp
       * finds a particular value of the given key in the cookies list
       * param: cname key name
       * return: value of the given key
       * */
      function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i=0; i<ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1);
          if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
      }
      //load learn field values
      document.getElementById("translate").value = getCookie("translateField");
      document.getElementById("translated").value = getCookie("translatedField");
    });
  </script>
</template>