<template name="Learn">
  <div class="container">
    <div class="row">
      <div class="col s11 m11 l11">
        <div class="row">
          {{> Banner}}
        </div>
        <div class="row">
          <div class="col s6">
            <a href="phrases.html">
              <div class="card">
                <h1 class="center">Usefull/Common Phrases</h1>
              </div>
            </a>
          </div>

          <div class="col s6">
            <a href="classes.html">
              <div class="card">
                <h1 class="center">Classes</h1>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col s1 m1 l1">
        <a href="{{ pathFor 'Messenger' }}">
          <div class="side-bar blue card">
            hi
          </div>
        </a>
      </div>
    </div>
  </div>
</template>