<template name="SMS">
  {{#IfLoggedIn}}
  <div class="row">

    <!-- code courtesy of Austin Keeley https://github.com/austinkeeley -->
    <p>To: <input id="to" type="text" value="" /></p>
    <div style="border: 1px solid; padding: 10px; overflow-y: scroll; height: 550px">
      {{#each messageList}}<pre>{{sender}}({{subject}}): {{text}} <a href="#" class="remove">Delete</a></pre>{{/each}}
    </div>
    <form>
      <p>Message:<input id="chatInput" /><input type="submit" value="Say it" /></p>
    </form>

  </div>

  {{/IfLoggedIn}}
</template>