<template name="Messenger">
  {{#IfLoggedIn}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <div class="row">

    <div class="col s1 m1 l1">
      <a href="{{ pathFor 'Learn' }}" class="learn">
        <div class=" side-bar card">
          <div style="height: 100%;"><i class="material-icons">g_translate</i></div>
        </div>
      </a>
    </div>

    <div class="col s11 m11 l11">
      <div class="row">
        <ul class="collapsible popout" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">Unread Letters
              <div class="right">
                {{newMessages.count}} new
              </div>
            </div>
            <div class="collapsible-body">
              {{#each newMessages}}
              <div style="margin: 2px;" class="btn">
                <a style="color: white;" href="{{ pathFor 'ReadMessage' }}" class="dismiss">
                  {{sender}}: {{subject}}
                </a>
                <div class="right"><a href="#" class="right dismiss"><i
                  class="material-icons">close</i></a>
                </div>
              </div>
              {{/each}}
            </div>
          </li>
        </ul>
      </div>
      <div class="row">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header active">Personal Chat</div>
            <div class="collapsible-body">
              <div style=" overflow-y: scroll; height: 250px">
                {{#each messageList}}
                <pre class="lighten-5">{{sender}}: {{text}}</pre>
                {{/each}}
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header">General Chat</div>
            <div class="collapsible-body">
              <div style=" overflow-y: scroll; height: 250px">
                {{#each generalMessages}}
                <pre>{{sender}}: {{text}}</pre>
                {{/each}}
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="row">
        <ul class="collapsible popout" data-collapsible="accordion">
          <li>
            <div class="collapsible-header active">Compose Message</div>
            <div class="collapsible-body">
              <form>
                <!-- Dropdown Trigger -->
                <a style="width: 100%;" class='dropdown-button btn' href='#' data-activates='contactDrop'>
                  To: <input id="to" class="toField" type="text" value=""/>
                </a>

                <!-- Dropdown Structure -->
                <ul id='contactDrop' class='dropdown-content'>
                  <li><a id="general" href="#!" class="toDropdown">General</a></li>
                  {{#each contactList}}
                  <li><a id="{{this}}" href="#!" class="toDropdown">{{this}}</a></li>
                  {{/each}}
                  <li class="divider"></li>
                  {{#each recentList}}
                  <li><a id="{{this}}" href="#!" class="toDropdown">{{this}}</a></li>
                  {{/each}}
                </ul>
                <!--Subject:<input id="subject"  value=""/>-->
                <div class="input-field"><textarea id="chatInput" class="materialize-textarea"></textarea>
                  <label for="chatInput">Message</label>
                </div>
                <div class="btn submit">Send</div>
              </form>

            </div>
          </li>
        </ul>

      </div>
      <div class="row">
        <ul class="collapsible popout" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">
              Past Letters
            </div>
            <div class="collapsible-body">
              {{#each recLetters}} <a style="margin: 2px;" href="{{ pathFor 'ReadMessage' }}"
                                      class="btn letter">{{sender}}:
              {{subject}}</a>
              {{/each}}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{/IfLoggedIn}}

  <script>
    $(document).ready(function () {
      $('.dropdown-button').dropdown({
          inDuration: 300,
          outDuration: 225,
          constrain_width: true, // Does not change width of dropdown to that of the activator
          hover: false, // Activate on hover
          gutter: 0, // Spacing from edge
          belowOrigin: true, // Displays dropdown below the button
          alignment: 'left' // Displays dropdown with edge aligned to the left of button
        }
      );
      /* function stolen from W3Schools http://www.w3schools.com/js/js_cookies.asp
       * finds a particular value of the given key in the cookies list
       * param: cname key name
       * return: value of the given key
       */
      function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') c = c.substring(1);
          if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
      }

      //init cellapsible
      $('.collapsible').collapsible({
        accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
      });

      //load messenger field values
      document.getElementById("to").value = getCookie("toField");
      //document.getElementById("subject").value = getCookie("subjectField");
      document.getElementById("chatInput").value = getCookie("chatField");

    })
  </script>
</template>