<template name="ListMessages">
  {{#IfLoggedIn}}
    <div class="well">

      <table class="table">
        <thead>
        <tr>
          <th>to</th>
          <th>from</th>
          <th>text</th>
          <th>Edit</th>
        </tr>
        </thead>

        <tbody>
        {{#each stuffList}}
          <tr>
            <td>{{to}}</td>
            <td>{{from}}</td>
            <td>{{text}}</td>
            <td><a href="{{pathFor 'EditMessage'}}">Edit</a></td>
          </tr>
        {{/each}}
        </tbody>
      </table>

    </div>
  {{/IfLoggedIn}}
</template>
