<template name="ListMessages">
  {{#IfLoggedIn}}
    <div class="well">

      <table class="table">
        <thead>
        <tr>
          <th>to</th>
          <th>from</th>
          <th>subject</th>
          <th>text</th>
        </tr>
        </thead>

        <tbody>
        {{#each messageList}}
          <tr>
            <td>{{receiver}}</td>
            <td>{{sender}}</td>
            <td>{{subject}}</td>
            <td>{{text}}</td>
            <td><a href="#" class="remove">Delete</a></td>
          </tr>
        {{/each}}
        </tbody>
      </table>

    </div>
  {{/IfLoggedIn}}
</template>
