body {
  padding-top: 70px;  /* Move body of page below navbar. */
}
.side-bar{
  height: 100%;
  box-shadow: #1a237e;
}
.userPic {
  width: 100px;
  height: 100px;
}
#to{
  border-bottom: none;
}
.newBadge{
  border-corner-shape: scoop;
  border-radius: 2px;
  width: 30px;
  height: 10px;
}